<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancel Ticket</title>
    <link rel="stylesheet" th:href="@{/css/MangingSection.css}" />
    <link rel="stylesheet" th:href="@{/css/SignupLogin.css}" />
    <link rel="stylesheet" th:href="@{/css/CancelTicket.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <header id="rh_header" class="home-only-header fixer1">
        <div id="headerBlock">
            <article class="container">
                <nav class="leftNav">
                    <section>
                        <div class="logo">
                            <a th:href="@{/html/homePage}"><img th:src="@{/image/logo.png}" alt="Nex-Bus" /></a>
                        </div>
                        <div class="leftmenu"></div>
                    </section>
                </nav>
                <nav class="rightNav">
                    <ul>
                        <li><a th:href="@{/html/help}">Help</a></li>
                        <li>
                            <a href="#" id="dropup-menu-booking">Manage Booking
                                <span><i class="fas fa-chevron-down"></i></span>
                            </a>
                            <div class="dropdown-menu-booking">
                                <div>
                                    <a class="dropdown-item" th:href="@{/html/cancelTicket}">Cancel Ticket</a><br />
                                    <a class="dropdown-item" th:href="@{/html/showTicket}">Show My Ticket</a><br />
                                    <a class="dropdown-item" th:href="@{/html/changeTravelDate}">Change Travel Date</a><br />
                                </div>
                            </div>
                        </li>
                        <li id="Signup">
                            <a href="#" id="dropup-menu">
                                <span><i class="far fa-user-circle"></i></span>
                                <span><i class="fas fa-chevron-down after_user_circle"></i></span>
                            </a>
                            <div class="dropdown-menu">
                                <div class="drop">
                                    <a class="dropdown-item" th:href="@{/html/myTrips}">My Trips</a><br />
                                    <a class="dropdown-item" th:href="@{/html/wallets}">Wallets</a><br />
                                    <a class="dropdown-item" th:href="@{/html/myProfile}">My Profile</a><br />
                                    <a class="dropdown-item" th:href="@{/index}">Sign Out</a><br />
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </article>
        </div>
    </header>

    <div id="root">
        <div class="cancelFormMain">
            <h1>CANCEL TICKET</h1>
            <h3>Verify your details, and cancel your ticket</h3>
            <div class="cancel-container">
                <input id="cancel-input" class="ticket_no" type="text" value="" placeholder="Enter your ticket number" />
                <button id="cancel-button" class="search_btn">Search</button>
            </div>
        </div>
    </div>

    <div id="ticket_container">
        <!-- Ticket will show here -->
    </div>

    <script th:src="@{https://unpkg.com/sweetalert/dist/sweetalert.min.js}"></script>
    <script type="module" th:src="@{/js/pages.js}"></script>
    <script type="module" th:src="@{/js/pageCancelTicket.js}"></script>
</body>
</html>